Repository KelynPNjeri/Questioner-API, pull requests merged in 2019-01, with the labels that each got.

#1 #163052889 Creating folder structure.
  .gitignore
  .travis.yml
  Pipfile
  Pipfile.lock
  Procfile
  app/__init__.py
  app/api/__init__.py
  app/api/v1/__init__.py
  app/api/v1/models/__init__.py
  app/api/v1/utils/__init__.py
  app/api/v1/views/__init__.py
  app/tests/__init__.py
  app/tests/v1/__init__.py
  instance/__init__.py
  instance/config.py
  run.py
Labels: api-v1

#2 #163057981 Adding Configurations.
  instance/config.py
Labels: api-v1

#3 #163047707 Travis Configuration.
  .travis.yml
Labels: api-v1

#4 #163047660 Deployment to Heroku.
  Pipfile
  Pipfile.lock
  Procfile
  requirements.txt
Labels: api-v1

#5 #163034780 Setting up Flask.
  .env
  .gitignore
  app/__init__.py
  run.py
Labels: api-v1

#7 #163036397 An admin can create a meetup.
  app/__init__.py
  app/api/v1/__init__.py
  app/api/v1/models/meetup_model.py
  app/api/v1/utils/validator.py
  app/api/v1/views/meetup_views.py
  app/tests/v1/basecase.py
Labels: api-v1

#8 #163036799 Write tests for Create Questions endpoint.
  app/tests/v1/basecase.py
  app/tests/v1/test_question.py
Labels: api-test

#9 #163037095 A user can create a question record.
  .travis.yml
  app/api/v1/__init__.py
  app/api/v1/models/question_model.py
  app/api/v1/utils/validator.py
  app/api/v1/views/question_views.py
  app/tests/v1/test_question.py
Labels: api-v1

#10 #163047136 Write tests for fetching all questions endpoints.
  app/tests/v1/test_question.py
Labels: api-test

#11 #163047248 A user can get all questions.
  .env
  app/api/v1/models/question_model.py
  app/api/v1/views/question_views.py
  app/tests/v1/test_question.py
Labels: api-v1

#12 #163086542 Writing tests for getting all upcoming meetups.
  app/tests/v1/test_meetup.py
Labels: api-test

#13 #163094035 A user can view all upcoming meetups.
  app/api/v1/models/meetup_model.py
  app/api/v1/views/meetup_views.py
Labels: api-v1

#14 #163037245 Write tests for getting a specific question.
  app/tests/v1/test_question.py
Labels: api-test

#15 #163101553 User can get a specific question.
  app/api/v1/models/question_model.py
  app/api/v1/views/question_views.py
Labels: api-v1

#17 #163047091 User should be able to get a specific meetup.
  app/api/v1/models/meetup_model.py
  app/api/v1/views/meetup_views.py
Labels: api-v1

#18 #163126567 Fixing issue with coveralls badge.
  .travis.yml
Labels: api-v1

#22 #163047545 User can RSVP to a meetup.
  app/tests/v1/basecase.py
  app/tests/v1/test_meetup.py
Labels: api-test

#23 #163047614 User can respond to a meetup RSVP.
  app/api/v1/__init__.py
  app/api/v1/models/meetup_model.py
  app/api/v1/models/rsvp_model.py
  app/api/v1/utils/serializer.py
  app/api/v1/views/meetup_views.py
  app/api/v1/views/question_views.py
  app/api/v1/views/rsvp_views.py
  app/tests/v1/basecase.py
  app/tests/v1/test_meetup.py
Labels: api-v1

#24 #163137526 Update the README.md
  README.md
Labels: api-v1

#25 Add a Codacy badge to README.md
  README.md
Labels: api-v1

#26 #163047334 Write tests for the upvote question endpoint.
  app/tests/v1/test_question.py
Labels: api-test

#27 #163047420 User can upvote a question.
  app/api/v1/models/question_model.py
  app/api/v1/views/question_views.py
  app/tests/v1/test_question.py
Labels: api-v1

#28 #163047464 Write test for the create a downvote for a question endpoint.
  app/tests/v1/test_question.py
Labels: api-test

#30 #163147428 Add Coveralls badge.
  .coveralls.yml
Labels: api-v1

#31 #163166189 Fixing Coveralls badge issue.
  .travis.yml
Labels: api-test

#33 Revert #163109064 Add validators."
  Pipfile
  Pipfile.lock
  app/api/v1/__init__.py
  app/api/v1/models/auth_model.py
  app/api/v1/models/base_model.py
  app/api/v1/models/meetup_model.py
  app/api/v1/models/question_model.py
  app/api/v1/utils/serializer.py
  app/api/v1/utils/validator.py
  app/api/v1/views/auth_views.py
  app/api/v1/views/meetup_views.py
  app/api/v1/views/question_views.py
  app/tests/v1/basecase.py
  app/tests/v1/test_auth.py
  app/tests/v1/test_meetup.py
  app/tests/v1/test_question.py
Labels: bug

#34 #163226586 Fix failing validators.
  app/api/v1/models/auth_model.py
  app/api/v1/models/base_model.py
  app/api/v1/models/rsvp_model.py
  app/api/v1/utils/validator.py
  app/api/v1/views/auth_views.py
  app/api/v1/views/meetup_views.py
  app/api/v1/views/question_views.py
  app/api/v1/views/rsvp_views.py
  app/tests/v1/basecase.py
  app/tests/v1/test_auth.py
  app/tests/v1/test_meetup.py
  requirements.txt
Labels: bug
